name: Publish to Maven Central
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Set up JDK
        uses: actions/setup-java@v3
        with:
          java-version: 25
          distribution: temurin
      - name: Build and publish
        env:
          MAVEN_USERNAME: ${{ secrets.S01_SONATYPE_USERNAME }}
          MAVEN_PASSWORD: ${{ secrets.S01_SONATYPE_PASSWORD }}
          GPG_PRIVATE_KEY: ${{ secrets.GPG_PRIVATE_KEY }}
          GPG_PASSPHRASE: ${{ secrets.GPG_PRIVATE_KEY_PASSWORD }}
        run: |
          ./gradlew publish